<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <div id="userFragment" th:remove="tag">

    </div>
    
    <div class="card overflow-hidden" id="usersCount">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="flex-shrink-0 size-60 bg-tint-success text-success rounded-pill me-3 d-flex align-items-center justify-content-center">
          <i data-feather="users" class="fe-3x d-block"></i>
        </div>
        <div class="flex-grow-1 text-start">
          <h5 class="fs-4 d-block mb-1 aos-init aos-animate" data-aos="" data-aos-id="countup:in" th:data-to="${count}"
              data-countup="{&quot;startVal&quot;:&quot;0&quot;,&quot;prefix&quot;:&quot;+&quot;}" th:text="${#numbers.formatDecimal(count, 1, 'WHITESPACE', 0, 'DEFAULT')}">475</h5>
          <p class="mb-0 text-muted" th:text="#{users.total.customers}">Total customers</p>
        </div>
      </div>
    </div>
    
    <div class="card overflow-hidden" id="adminCount">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="flex-shrink-0 size-60 bg-tint-warning text-warning rounded-pill me-3 d-flex align-items-center justify-content-center">
          <i data-feather="briefcase" class="fe-3x d-block"></i>
        </div>
        <div class="flex-grow-1 text-start">
          <h5 class="fs-4 d-block mb-1 aos-init aos-animate" data-aos="" data-aos-id="countup:in" th:data-to="${count}"
              data-countup="{&quot;startVal&quot;:&quot;0&quot;,&quot;prefix&quot;:&quot;+&quot;}" th:text="${#numbers.formatDecimal(count, 1, 'WHITESPACE', 0, 'DEFAULT')}">475</h5>
          <p class="mb-0 text-muted" th:text="#{users.total.admins}">Total admins</p>
        </div>
      </div>
    </div>
    
    <div class="card overflow-hidden" id="salesCount">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="flex-shrink-0 size-60 bg-tint-danger text-danger rounded-pill me-3 d-flex align-items-center justify-content-center">
          <i data-feather="shopping-bag" class="fe-3x d-block"></i>
        </div>
        <div class="flex-grow-1 text-start">
          <h5 class="fs-4 d-block mb-1 aos-init aos-animate" data-aos="" data-aos-id="countup:in" th:data-to="${count}"
              data-countup="{&quot;startVal&quot;:&quot;0&quot;,&quot;prefix&quot;:&quot;+&quot;}" th:text="${#numbers.formatDecimal(count, 1, 'WHITESPACE', 0, 'DEFAULT')}">475</h5>
          <p class="mb-0 text-muted" th:text="#{users.total.salesmanagers}">Total sales managers</p>
        </div>
      </div>
    </div>
    
    <div class="card overflow-hidden" id="productsCount">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="flex-shrink-0 size-60 bg-tint-info text-info rounded-pill me-3 d-flex align-items-center justify-content-center">
          <i data-feather="package" class="fe-3x d-block"></i>
        </div>
        <div class="flex-grow-1 text-start">
          <h5 class="fs-4 d-block mb-1 aos-init aos-animate" data-aos="" data-aos-id="countup:in" th:data-to="${count}"
              data-countup="{&quot;startVal&quot;:&quot;0&quot;,&quot;prefix&quot;:&quot;+&quot;}" th:text="${#numbers.formatDecimal(count, 1, 'WHITESPACE', 0, 'DEFAULT')}">475</h5>
          <p class="mb-0 text-muted" th:text="#{users.total.productsmanagers}">Total product managers</p>
        </div>
      </div>
    </div>
    
    <div class="card overflow-hidden" id="ordersCount">
      <div class="card-body d-flex align-items-center justify-content-between">
        <div class="flex-shrink-0 size-60 bg-tint-secondary text-secondary rounded-pill me-3 d-flex align-items-center justify-content-center">
          <i data-feather="file-text" class="fe-3x d-block"></i>
        </div>
        <div class="flex-grow-1 text-start">
          <h5 class="fs-4 d-block mb-1 aos-init aos-animate" data-aos="" data-aos-id="countup:in" th:data-to="${count}"
              data-countup="{&quot;startVal&quot;:&quot;0&quot;,&quot;prefix&quot;:&quot;+&quot;}" th:text="${#numbers.formatDecimal(count, 1, 'WHITESPACE', 0, 'DEFAULT')}">475</h5>
          <p class="mb-0 text-muted" th:text="#{users.total.ordersmanagers}">Total orders managers</p>
        </div>
      </div>
    </div>
  </body>
</html>