<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/adminTemplate}">
<head>
    <title th:text="#{app.title(${user.fullName})}">Users</title>
</head>
<body>
<div layout:fragment="contentDiv">
    <!--    <div th:replace="fragments/messages :: #notify"></div>-->

    <div class="row gutters-sm">
        <div class="col-12 col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                        <img th:src="@{/resources/img/user/user_default.svg}" src="../../../resources/img/user/user_default.svg" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                            <h4 th:text="${user.fullName}">John Doe</h4>
                            <!--                            <p class="text-secondary mb-1" th:text="#{user.roles. + ${user.getRoles().toArray()[0].rolename}}">User role</p>-->
                            <p class="text-muted font-size-sm" th:text="#{account.createdon(${#dates.format(user.createdOn, #messages.msg('format.datetime3'))})}">Joined Dec 31, 2017</p>
                            <p class="text-muted font-size-sm" th:if="${user.editedOn ne null}"
                               th:text="#{account.editedon(${#dates.format(user.editedOn, #messages.msg('format.datetime3'))})}">Edited Dec 31, 2017</p>
                            <!--                            <button class="btn btn-primary">Follow</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-3 col-xl-2">
                            <h6 class="mb-0">User ID</h6>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-10 text-secondary">
                            <span th:text="${user.userId}">User ID</span>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-12 col-sm-3 col-xl-2">
                            <h6 class="mb-0">Full name</h6>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-10 text-secondary">
                            <span th:text="${user.fullName}">John Doe</span>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-12 col-sm-3 col-xl-2">
                            <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-10 text-secondary">
                            <span th:text="${user.email}">john.doe@gmail.com</span>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-12 col-sm-3 col-xl-2">
                            <h6 class="mb-0">Status</h6>
                        </div>
                        <div class="col-12 col-sm-9 col-xl-10 text-secondary">
                            <span class="badge" th:classappend="${user.isActive} ? 'badge-success' : 'badge-danger'"
                                  th:text="${user.isActive} ? #{user.active} : #{user.inactive}">Active/Inactive</span>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>

    <div class="row gutters-sm">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 th:text="#{user.roles.active(${#lists.size(user.roles)})}">Active roles</h5>
                    <hr/>

                    <div th:each="r : ${user.roles}">
                        <div th:text="#{user.roles. + ${r.rolename}}">Role</div>
                        <small class="text-muted" th:text="#{user.roles.descr. + ${r.rolename}}">Role description</small>
                        <hr/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>