<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{orders.title})}">Orders</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row gutters-3">
        <div class="col-md-4 col-lg-3">
          <div th:insert="profile/fragments :: #profileFragment"></div>
        </div>
        <div class="col mt-3 mt-md-0">
          <div class="card card-style1">
            <div class="card-body">
              <h4>My Orders</h4>
              <hr/>
              <div class="table-responsive" id="table-orders">
                <table class="table table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Date</th>
                      <th scope="col" class="text-right">Total</th>
                      <th scope="col" class="text-center">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">
                        <a th:href="@{/profile/order(orderId=2)}" href="#">ORD556789</a>
                      </th>
                      <td>Dec 19, 2017</td>
                      <td class="text-right">$74.00</td>
                      <td class="text-center">
                        <span class="badge badge-warning rounded">In Progress</span>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">
                        <a th:href="@{/profile/order(orderId=3)}" href="#">ORD456789</a>
                      </th>
                      <td>Dec 10, 2017</td>
                      <td class="text-right">$100.00</td>
                      <td class="text-center">
                        <span class="badge badge-danger rounded">Canceled</span>
                      </td>
                    </tr>
                    <!--                            <tr>-->
                    <!--                                <th scope="row"><a href="account-order-detail.html">ORD156789</a></th>-->
                    <!--                                <td>Nov 10, 2017</td>-->
                    <!--                                <td class="text-right">$100.00</td>-->
                    <!--                                <td class="text-center"><span class="badge badge-success rounded">Finished</span></td>-->
                    <!--                            </tr>-->
                  </tbody>
                </table>
              </div>
              <button class="btn btn-outline-success btn-sm has-icon"><i class="material-icons mr-2">cloud_download</i> Download as xls</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>