<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title('Profile')}">Home</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row gutters-3">
        <div class="col-md-4 col-lg-3">
          <div th:insert="profile/fragments :: #profileFragment"></div>
        </div>
        <div class="col mt-3 mt-md-0">
          <div class="card card-style1 shadow-sm" th:with="s=${order.status.orderStatusId}"
               th:classappend="${s eq 1} ? '' : (${s eq 2} ? 'border-warning' : (${s eq 3} ? 'border-primary' : (${s eq 4} ? 'border-success' : (${s eq 5} ? 'border-danger'))))">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <h4 class="mb-0 me-3" th:text="#{order.header}">Order</h4>
                <span class="badge" th:text="#{order.status. + ${s}}"
                      th:classappend="${s eq 1} ? 'bg-secondary' : (${s eq 2} ? 'bg-warning' : (${s eq 3} ? 'bg-primary' : (${s eq 4} ? 'bg-success' : (${s eq 5} ? 'bg-danger'))))"></span>
              </div>
              <hr class="mt-3 mb-0"/>

              <ul class="list-group list-group-flush list-group-sm">
                <li class="list-group-item px-0 d-flex align-items-center py-3" th:each="op : ${order.orderProducts}">

                  <a href="#" th:href="@{/product(id=${op.product.productId})}" target="_blank" class="me-4">
                    <img src="#" th:src="@{~/images/products/} + ${op.product.mainImage}" alt="product" width="75" class="rounded-circle"/>
                  </a>
                  <div class="media-body">
                    <a href="#" th:href="@{/product(id=${op.product.productId})}" class="h6" th:text="${op.product.title}">Product title</a>
                    <small class="d-block text-muted" th:text="${op.orderProductVariation.variation}">Yellow</small>
                  </div>
                  <div class="ms-auto">
                    <div class="">
                      <span class="text-success" th:text="#{cart.price(${#numbers.formatDecimal(op.pricePerUnit, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">$18.56</span>
                      <span class="ml-3 text-secondary font-weight-normal" th:text="' x ' + ${#numbers.formatDecimal(op.quantity, 1, 'WHITESPACE', 0, 'POINT')}">x 3</span>
                    </div>
                    <div class="text-end fw-bold" th:text="#{cart.price(${#numbers.formatDecimal(op.quantity * op.pricePerUnit, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">$18.56</div>
                  </div>
                </li>
              </ul>

              <hr class="mt-0 mb-3"/>
              <div th:remove="tag" th:if="${discount gt 0}">              

                <div class="row">
                  <div class="col-12 text-end">
                    <div class="text-muted">Subtotal</div>
                    <h6 th:text="#{cart.price(${#numbers.formatDecimal(subtotal, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">43</h6>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-end">
                    <div class="text-muted">Discount</div>
                    <h6 th:text="#{cart.price(${#numbers.formatDecimal(discount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}"
                        th:if="${discount eq 0}">43</h6>

                    <h6 class="text-success" th:text="'-' + #{cart.price(${#numbers.formatDecimal(discount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}"
                        th:if="${discount gt 0}">43</h6>
                  </div>
                </div>

                <hr class="my-3"/>
              </div>

              <div class="row">
                <div class="col-12 text-end">
                  <h5 class="text-muted">Total</h5>
                  <h5 class="font-weight-bold h4"
                      th:text="#{cart.price(${#numbers.formatDecimal(subtotal - discount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">43</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-md-6">
                  <hr class="mt-3 mb-2"/>
                  <h5 class="my-0">Delivery address</h5>
                  <hr class="mt-2 mb-3"/>
                  <div class="" th:text="${order.deliveryAddress.personName}">Address</div>
                  <div class="" th:text="${order.deliveryAddress.street} + ' ' + ${order.deliveryAddress.streetNo}">Address</div>
                  <div class="" th:text="#{country. + ${order.deliveryAddress.country}} + ', ' + ${order.deliveryAddress.city} + ', ' + ${order.deliveryAddress.postCode}">Address</div>
                  <div class="" th:text="${order.deliveryAddress.phone}"></div>
                </div>

                <div class="col-12 col-md-6">
                  <hr class="mt-3 mb-2"/>
                  <h5 class="my-0">Delivery</h5>
                  <hr class="mt-2 mb-3"/>
                  <div class="" th:text="${order.courier.courierName}">Courier</div>
                </div>

                <div class="col-12">
                  <hr class="mt-3 mb-2"/>
                  <h5 class="my-0">Payment</h5>
                  <hr class="mt-2 mb-3"/>
                  <div class="" th:text="${order.paymentType.paymentTypeDescr}">Payment</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>