<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/mainTemplate}">
  <head>
    <title th:text="#{app.title(#{cart.title})}">Cart</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <!--    <div th:replace="fragments/messages :: #notify"></div>-->

      <div class="row gutters-3">
        <div class="col-12 col-lg-8">
          <div class="card card-style1">
            <div class="card-body">
              <div id="cartEmptyDiv" th:classappend="${#lists.size(products) eq 0} ? 'd-block' : 'd-none'">
                No items in cart
              </div>
              <ul id="cartItemsDiv" class="list-group" th:if="${#lists.size(products) ne 0}" th:classappend="${#lists.size(products) ne 0} ? 'd-block' : 'd-none'">
                <li th:id="'cart_product_' + ${p.productId}" class="list-group-item py-3" th:each="p : ${products}">
                  <div class="d-flex align-items-start">
                    <div class="me-3 me-lg-4">
                      <a href="#" target="_blank" th:href="@{/product(id=${p.productId})}">
                        <img src="" th:src="@{~/images/products/} + ${p.mainImage}" alt="" class="avatar rounded-circle shadow"/>
                      </a>
                    </div>
                    <div class="flex-grow-1">
                      <div class="d-sm-flex align-items-center">
                        <div class="mb-3 mb-sm-0 flex-grow-1">
                          <a class="text-dark fs-6 d-block" href="#" target="_blank" th:href="@{/product(id=${p.productId})}" th:text="${p.title}">Product name</a>
                          <del class="fw-normal text-danger small" th:text="#{price(${#numbers.formatDecimal(p.price, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}" th:if="${p.discount ne 0}">10 лв.</del>
                          <small class="mb-0" th:text="#{price(${#numbers.formatDecimal(p.price - p.discount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}" th:unless="${p.discount eq p.price}">25.99 лв.</small>
                          <small th:text="#{product.view.free}" th:if="${p.discount eq p.price}">Free</small>
                          <button class="btn py-0 px-1 btn-success btn-sm " style="font-size: 13px;" th:if="${p.discount ne 0}"
                                  type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" th:data-bs-original-title="${#numbers.formatDecimal((p.discount) / p.price * 100, 1, 'WHITESPACE', 0, 'POINT')} + '% off'">
                            <span th:text="'-' + ${#numbers.formatDecimal((p.discount) / p.price * 100, 1, 'WHITESPACE', 0, 'POINT')} + '%'">-20%</span>
                          </button>
                          <small>&bull;</small>
                          <small class="text-muted mb-0">color: </small>
                          <small class="mb-0">red</small>
                        </div>
                        <div class="">
                          <div class="d-flex align-items-center">
                            <form>
                              <input type="number" class="form-control form-control-sm" min="1" max="100" value="1"/>
                            </form>
                            <!--                            <a href="#!" class="btn btn-sm btn-outline-light border text-secondary shadow-sm">
                                                          <i class="me-1 bi bi-check fs-6 lh-1"></i>
                                                          Follow
                                                        </a>-->
                            <a class="text-danger ms-2 ms-lg-3 small" href="#" th:attr="onclick=|removeProductFromCart('${p.productId}')|">
                              <i class="me-1 bi bi-x fs-6 lh-1 align-middle"></i>
                              <span>Remove</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-end mt-3">
                <button class="btn btn-sm btn-success me-1" onClick="window.location.reload();">Refresh</button>
                <button class="btn btn-sm btn-danger" th:if="${#lists.size(products) ne 0}">Remove all</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mt-1 mt-md-0">
          <div class="card card-style1">
            <div class="card-body">
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm"  placeholder="Coupon code"/>
                <a href="#" th:href="@{/}" class="input-group-text btn btn-sm btn-warning">Apply</a>
              </div>
              <div class="mt-3 font-condensed">
                <div class="d-flex">
                  <span class="text-muted" th:text="#{cart.subtotal}">Subtotal</span>
                  <span class="font-weight-bold ms-auto" th:text="#{cart.price(${#numbers.formatDecimal(totalPrice, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">58.99 лв.</span>
                </div>
                <div class="d-flex">
                  <span class="text-muted" th:text="#{cart.discount}">Discount</span>
                  <button class="btn py-0 px-1 btn-success btn-sm ms-1" style="font-size: 13px;" th:if="${totalDiscount ne 0}"
                          type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="" th:data-bs-original-title="${#numbers.formatDecimal((totalDiscount) / totalPrice * 100, 1, 'WHITESPACE', 0, 'POINT')} + '% off'">
                    <span th:text="'-' + ${#numbers.formatDecimal((totalDiscount) / totalPrice * 100, 1, 'WHITESPACE', 0, 'POINT')} + '%'">-20%</span>
                  </button>
                  <span class="font-weight-bold ms-auto text-success" th:if="${totalDiscount ne 0}" th:text="'-' + #{cart.price(${#numbers.formatDecimal(totalDiscount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">-5.89 лв.</span>
                  <span class="font-weight-bold ms-auto" th:if="${totalDiscount eq 0}" th:text="#{cart.price(${#numbers.formatDecimal(totalDiscount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">0.00 лв.</span>
                </div>
                <div th:remove="tag" th:if="${#lists.size(products) ne 0}">
                  <hr class="my-1"/>
                  <div class="d-flex" th:if="${totalDiscount ne 0}">
                    <span class="text-muted" th:text="#{cart.subtotal}">Subtotal</span>
                    <span class="font-weight-bold ms-auto" th:text="#{cart.price(${#numbers.formatDecimal(totalPrice - totalDiscount, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">58.99 лв.</span>
                  </div>
                  <div class="d-flex">
                    <span class="text-muted" th:text="#{cart.shipping}">Shipping</span>
                    <span class="font-weight-bold ms-auto text-danger" th:text="'+' + #{cart.price(${#numbers.formatDecimal(shipping, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}" th:if="${shipping ne 0}">+2.99 лв.</span>
                    <span class="font-weight-bold ms-auto" th:text="#{product.view.free}" th:if="${shipping eq 0}">Free</span>
                  </div>
                </div>
                <hr/>
                <div class="d-flex">
                  <span class="text-muted" th:text="#{cart.total}">Total</span>
                  <span class="font-weight-bold ms-auto text-primary h4 mb-0" th:if="${#lists.size(products) eq 0}" th:text="#{cart.price(${#numbers.formatDecimal('0.00' , 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">56.09 лв.</span>
                  <span class="font-weight-bold ms-auto text-primary h4 mb-0" th:if="${#lists.size(products) ne 0}" th:text="#{cart.price(${#numbers.formatDecimal(totalPrice - totalDiscount + shipping, 1, 'WHITESPACE', 2, 'POINT')}, #{currency.bgn})}">56.09 лв.</span>
                </div>
                <hr/>
              </div>
              <a th:href="@{/checkout}" href="#" class="btn btn-block btn-sm btn-primary text-uppercase">Checkout</a>
            </div>
          </div>
        </div>
      </div>

      <script type="text/javascript" th:inline="javascript">
        function removeProductFromCart(id) {
          Cookies.remove("product_" + id);
          $('#cart_product_' + id).remove();
        }
      </script>
    </div>
  </body>
</html>