<!DOCTYPE html>
<html th:lang="#{lang.curr}" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" style="height: 100%;">
  <head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Bootstrap icons-->
    <link th:href="@{/resources/admin/fonts/bootstrap-icons/bootstrap-icons.css}" href="../../resources/admin/fonts/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <!-- iconsmind icons CSS -->
    <!--<link th:href="@{/resources/admin/fonts/iconsmind/iconsmind.css}" href="../../resources/admin/fonts/iconsmind/iconsmind.css" rel="stylesheet"/>-->

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/resources/admin/css/simplebar.min.css}" href="../../resources/admin/css/simplebar.min.css"/>
    <link rel="stylesheet" th:href="@{/resources/admin/css/style.css}" href="../../resources/admin/css/style.css"/>

  </head>
  <body>

    <!--////////////////// PreLoader Start//////////////////////-->
    <div class="loader">
      <!--Placeholder animated layout for preloader-->
      <div class="d-flex flex-column flex-root">
        <div class="page d-flex flex-row flex-column-fluid">

          <!--Sidebar start-->
          <aside class="page-sidebar aside-dark placeholder-wave">
            <div class="placeholder col-12 h-100 bg-dark"></div>
          </aside>
          <div class="page-content d-flex flex-column flex-row-fluid">
            <div
              class="content flex-column p-4 pb-0 d-flex justify-content-center align-items-center flex-column-fluid position-relative">
              <div class="w-100 h-100 position-relative d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader anim-spinner me-2"><line x1="12" y1="2" x2="12" y2="6"/><line x1="12" y1="18" x2="12" y2="22"/><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"/><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"/><line x1="2" y1="12" x2="6" y2="12"/><line x1="18" y1="12" x2="22" y2="12"/><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"/><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"/></svg>
                <div>
                  <span th:text="#{loading}">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--////////////////// /.PreLoader END//////////////////////-->

    <div th:insert="admin/fragments/fragments :: #mainMenu"></div>

    <!--///////////Page content wrapper///////////////-->
    <main class="page-content d-flex flex-column flex-row-fluid">

      <div th:insert="admin/fragments/fragments :: #topheader"></div>

      <div class="toolbar p-4 pb-0">
        <div class="position-relative container-fluid px-0">
          <div class="row align-items-center position-relative">
            <div class="col-md-5 mb-3 mb-lg-0">
              <h3 class="mb-2" th:if="${pageTitleType ne null and pageTitleType eq 'welcome'}">
                <span class="fs-4 text-muted" th:text="#{admin.welcome}">Welcome back,</span>
                <span th:text="${session.user}"></span>
              </h3>
              <h3 class="mb-2" th:if="${pageTitleType eq null or pageTitleType ne 'welcome'}">
                <span th:text="${pageTitle}">Page title</span>
              </h3>

              <nav aria-label="breadcrumb" class="" th:if="${breadcrumbs ne null}">
                <ol class="breadcrumb mb-0">
                  <li th:each="b, iterStat : ${breadcrumbs}" class="breadcrumb-item" th:classappend="${iterStat.last or b.url eq null} ? 'active'">
                    <i class="fas fa-user-circle" th:if="${iterStat.first}"></i>
                    <a th:href="@{${b.url}}" th:if="${b.url ne null}" th:text="${b.label}">Item</a>
                    <span th:if="${b.url eq null}" th:text="${b.label}"></span>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <div class="content p-4 pb-0 d-flex flex-column-fluid position-relative">
        <div class="container-fluid px-0 h-100">
          <div layout:fragment="contentDiv" th:remove="tag"></div>
        </div>
      </div>

    </main>

    <script th:src="@{/resources/admin/js/feather.min.js}" src="../../resources/admin/js/feather.min.js"></script>
    <script th:src="@{/resources/admin/js/theme.bundle.js}" src="../../resources/admin/js/theme.bundle.js"></script>

    <script>
      feather.replace()
    </script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>