<!DOCTYPE html>
<html th:lang="#{lang.curr}" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" style="height: 100%;">
  <head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Google fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet"/>

    <link th:href="@{/resources/users/fonts/bootstrap-icons/bootstrap-icons.css}" href="../../resources/users/fonts/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <!-- iconsmind icons CSS -->
    <link th:href="@{/resources/users/fonts/iconsmind/iconsmind.css}" href="../../resources/users/fonts/iconsmind/iconsmind.css" rel="stylesheet"/>

    <link rel="stylesheet" th:href="@{/resources/css/flags/flag-icon.css}" href="../../resources/css/flags/flag-icon.css"/>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" href="../../resources/css/style.css"/>

    <link rel="stylesheet" th:href="@{/resources/users/css/theme-shop.css}" href="../../resources/users/css/theme-shop.css"/>
    <link rel="stylesheet" th:href="@{/resources/users/css/theme.css}" href="../../resources/users/css/theme.css"/>

    <script th:src="@{/resources/js/js.cookie.min.js}" src="../../resources/js/js.cookie.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>

    <!-- Preloader Spinner -->
    <div class="spinner-loader bg-gradient-secondary text-white">
      <div class="spinner-border text-primary" role="status">
      </div>
      <span class="small d-block ms-2" th:text="#{loading}">Loading...</span>
    </div>

    <div th:insert="fragments/mainMenu :: #mainMenu"></div>

    <!--<div class="container-fluid my-4" style="flex: 1 0 auto; min-height: auto;">-->

    <main class="main-content" id="main-content">
      <section class="position-relative">
        <div class="container position-relative">

          <nav aria-label="breadcrumb" class="" th:if="${breadcrumbs ne null}">
            <ol class="breadcrumb mb-3">
              <li th:each="b, iterStat : ${breadcrumbs}" class="breadcrumb-item" th:classappend="${iterStat.last} ? 'active'">
                <i class="fas fa-user-circle" th:if="${iterStat.first}"></i>
                <a th:href="@{${b.url}}" th:if="${b.url ne null}" th:text="${b.label}">Item</a>
                <span th:if="${b.url eq null}" th:text="${b.label}"></span>
              </li>
            </ol>
          </nav>

          <div class="overflow-hidden">
            <div class="position-relative pb-7 pb-lg-12">
              <div layout:fragment="contentDiv" th:remove="tag"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--</div>-->

    <!-- Main script -->
    <!--<script th:src="@{/resources/users/js/app.js}" src="../../resources/users/js/app.js"></script>-->
    <script th:src="@{/resources/users/js/theme.bundle.js}" src="../../resources/users/js/theme.bundle.js"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  </body>
</html>