* {
  /*font-family: 'Rampart One', cursive;*/
  /*font-family: 'Jura', sans-serif;*/
  /*font-familyx: 'Exo 2', sans-serif !important;*/
}

@mixin width {
  width: auto !important;
}

.c-text-dark-gray {
  color: #505050;
}

table {
  &.table-fit {
    @include width;
    table-layout: auto !important;

    thead th, tfoot th {
      @include width;
    }

    tbody td, tfoot td {
      @include width;
    }
  }
}

@for $c-font-size from 1 through 10 {
  .c-font-size-#{$c-font-size * 5} {
    font-size: $c-font-size * 10px;
  }
}