<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/adminTemplate}">
    <head>
        <title th:text="#{app.title('New product')}">New product</title>
    </head>
    <body>
        <div layout:fragment="contentDiv">
            <!--    <div th:replace="fragments/messages :: #notify"></div>-->

            <form th:action="@{/admin/products/new}" method="POST" th:object="${pcm}">
                <div class="row gutters-sm mb-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5>Creating a new product</h5>
                                <hr/>

                                <div class="form-row">
                                    <div class="form-group col-12 col-md-4">
                                        <label>Title</label>
                                        <input type="text" class="form-control" th:field="*{title}"
                                               th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback" th:errors="*{title}">Error</span>
                                    </div>
                                    <div class="form-group col-12 col-md-4">
                                        <label>Price <small class="text-muted">(in leva)</small></label>
                                        <input type="number" class="form-control" min="0.01"
                                               value="1.00" step="0.01" th:field="*{price}"
                                               th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback" th:errors="*{price}">Error</span>
                                    </div>
                                    <div class="form-group col-12 col-md-4">
                                        <label>Available quantity</label>
                                        <input type="number" min="1" class="form-control"
                                               value="1" th:field="*{availableQuantity}"
                                               th:classappend="${#fields.hasErrors('availableQuantity')} ? 'is-invalid'"/>
                                        <span class="invalid-feedback" th:errors="*{availableQuantity}">Error</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control md-textarea" style="min-height: 400px;" th:field="*{description}"
                                              th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'"></textarea>
                                    <span class="invalid-feedback" th:errors="*{description}">Error</span>
                                </div>
                                <div class="d-flex">
                                    <div class="ml-auto">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-help-circle mr-3"
                                             data-toggle="tooltip" data-placement="top" title="After creating a product, images must be uploaded and an administrator must approve it.">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                            <line x1="12" y1="17" x2="12.01" y2="17"></line>
                                        </svg>
                                        <button type="submit" class="btn btn-primary btn-sm">Create product</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--                <div class="row gutters-sm">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5>Images</h5>
                                                <small class="text-muted">
                                                    <i class="fas fa-info-circle"></i>
                                                    <span>A product could have up to 10 images.</span>
                                                </small>
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
            </form>

            <script>
                tinymce.init({
                    selector: 'textarea',
                    min_height: 400
                });
            </script>
        </div>
    </body>
</html>