<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/adminTemplate}">
  <head>
    <title th:text="#{app.title(#{orders.title})}">Orders</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <!--    <div th:replace="fragments/messages :: #notify"></div>-->

      <div class="row gutters-sm mb-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-sm-between flex-column flex-sm-row mb-5">
                <div class="mb-4 mb-sm-0">
                  <div class="mb-3 d-flex align-items-center">
                    <h3 class="mb-0 d-inline">Order</h3>
                    <span class="ms-4 badge" th:with="s=${order.status.orderStatusId}" th:text="#{order.status. + ${s}}"
                          th:classappend="${s eq 1} ? 'bg-secondary' : (${s eq 2} ? 'bg-warning' : (${s eq 3} ? 'bg-primary' : (${s eq 4} ? 'bg-success' : (${s eq 5} ? 'bg-danger'))))"></span>
                  </div>                  
                  <ul class="list-unstyled d-table mb-0">
                    <li class="d-flex align-items-center border-bottom border-dashed pb-1 mb-1">
                      <span class="pe-5 small">Order ID:</span>
                      <span class="mb-0 flex-grow-1 fw-bold text-end" th:text="${order.orderId}"></span>
                    </li>
                    <li class="d-flex align-items-center border-bottom border-dashed pb-1 mb-1">
                      <span class="pe-5 small">Invoice Date:</span>
                      <span class="mb-0 fw-bold flex-grow-1 text-end" th:text="${#dates.format(order.createdOn, #messages.msg('format.datetime2'))}"></span>
                    </li>
                    <li class="d-flex align-items-center">
                      <span class="pe-5 small">Total:</span>
                      <span class="mb-0 fw-bold flex-grow-1 text-end" th:text="${#numbers.formatDecimal(subtotal - discount, 1, 'WHITESPACE', 2, 'POINT')}">584</span>
                    </li>
                  </ul>
                </div>
                <div class="ms-sm-auto text-sm-end">
                  <img src="assets/media/brand-logos/zendesk-2.svg" class="width-120 mb-2 h-auto" alt=""/>
                  <p class="mb-0">orders@sastore.com</p>

                  <hr/>
                  <small class="text-muted">Bill to</small>
                  <p class="mb-0 text-dark">
                    <span th:text="${order.billAddress.personName}"></span>
                    <br/>
                    <span th:text="${order.billAddress.street} + ' ' + ${order.billAddress.streetNo}"></span>
                    <br/>
                    <span th:text="#{country. + ${order.billAddress.country}} + ', ' + ${order.billAddress.city} + ', ' + ${order.billAddress.postCode}"></span>
                    <br/>
                    <span th:text="${order.billAddress.phone}">Phone</span>
                  </p>
                </div>
              </div>

              <div class="row">

                <div class="col-12">
                  <!--Table-->
                  <div class="table-responsive">
                    <table class="table table-borderless mb-4 table-striped table-hover">
                      <thead class="small">
                        <tr>
                          <th>Product</th>
                          <th class="text-center">Quantity</th>
                          <th class="text-center">Price per unit</th>
                          <th class="text-end">Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="align-middle" th:each="p : ${order.orderProducts}">
                          <td>
                            <h5 class="mb-1">
                              <a href="#" th:href="@{/admin/products(id=${p.product.productId})}" th:text="${p.product.title}" target="_blank">Product</a>
                            </h5>
                            <p class="small d-print-none mb-0" th:text="${p.orderProductVariation.variation}"></p>
                          </td>
                          <td class="text-dark text-center" th:text="${#numbers.formatDecimal(p.quantity, 1, 'WHITESPACE', 0, 'POINT')}">40</td>
                          <td class="text-dark text-center" th:text="${#numbers.formatDecimal(p.pricePerUnit, 1, 'WHITESPACE', 2, 'POINT')}">50.00</td>
                          <td class="text-end width-90 text-dark" th:text="${#numbers.formatDecimal(p.quantity * p.pricePerUnit, 1, 'WHITESPACE', 2, 'POINT')}">2000</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-borderless">
                      <tbody>
                        <tr class="align-middle">
                          <td>Subtotal</td>
                          <td class="text-end fw-bold text-muted" th:text="${#numbers.formatDecimal(subtotal, 1, 'WHITESPACE', 2, 'POINT')}">562.00</td>
                        </tr>
                        <tr class="align-middle">
                          <td>Discount</td>
                          <td class="text-end fw-bold text-success" th:text="'- ' + ${#numbers.formatDecimal(discount, 1, 'WHITESPACE', 2, 'POINT')}">62.00</td>
                        </tr>
                        <tr class="align-middle">
                          <td>Total</td>
                          <td class="text-end fw-bold text-dark h4" th:text="${#numbers.formatDecimal(subtotal - discount, 1, 'WHITESPACE', 2, 'POINT')}">500.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!--Table end-->
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="d-flex">
                    <div class="ms-auto" th:with="s=${order.status.orderStatusId}">
                      <a href="#" class="btn btn-primary" th:if="${s eq 1}">
                        <i class="bi bi-play"></i>
                        <span>Mark order as "Processing"</span>
                      </a>
                      <a href="#" class="btn btn-warning" th:if="${s eq 2}">
                        <i class="bi bi-truck"></i>
                        <span>Hand order to courier</span>
                      </a>
                      <a href="#" class="btn btn-success" th:if="${s eq 3}">
                        <i class="bi bi-check"></i>
                        <span>Finish order</span>
                      </a>
                      <a href="#" class="btn btn-danger" th:if="${s eq 1 or s eq 2}">
                        <i class="bi bi-x"></i>
                        <span>Cancel order</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>