<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <body>

    <div class="col" id="main-sidebar">
      <div class="list-group list-group-flush">
        <a href="index.html" class="list-group-item list-group-item-action">
          <i class="fa fa-home fa-lg fa-fw"></i>
          <span>Home</span>
        </a>
        <a href="grid.html" class="list-group-item list-group-item-action">
          <i class="fa fa-star fa-lg fa-fw text-warning"></i>
          <span>Editor's Choice</span>
        </a>
        <a href="categories.html" class="list-group-item list-group-item-action">
          <i class="fa fa-th fa-lg fa-fw"></i>
          <span>Categories</span>
        </a>
        <a th:href="@{/categories/computers}" href="#" class="list-group-item list-group-item-action sub"
           th:classappend="${category eq 'computers'} ? 'active'">
          <span>Computers</span>
        </a>
        <a th:href="@{/categories/mobile}" href="#" class="list-group-item list-group-item-action sub"
           th:classappend="${category eq 'mobile'} ? 'active'">
          <span>Mobile phones</span>
        </a>
        <a th:href="@{/categories/photography}" href="#" class="list-group-item list-group-item-action sub"
           th:classappend="${category eq 'photography'} ? 'active'">
          <span>Photography</span>
        </a>
        
<!--        <div class="collapse" id="categories">
          <a href="grid.html" class="list-group-item list-group-item-action sub">Headphones</a>
          <a href="grid.html" class="list-group-item list-group-item-action sub">Office Electronics</a>
          <a href="grid.html" class="list-group-item list-group-item-action sub">Office Supplies</a>
          <a href="grid.html" class="list-group-item list-group-item-action sub">Musical Instruments</a>
        </div>
        <a href="#categories" class="list-group-item list-group-item-action sub toggle" data-toggle="collapse" aria-expanded="false">MORE &#9662;</a>-->
        
        <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-question-circle fa-lg fa-fw"></i> Help</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-plus-circle fa-lg fa-fw"></i> Start Selling</a>
      </div>
      <div class="small p-3">Copyright © 2019 SAStore<br/>All right reserved</div>
    </div>
  </body>
</html>