<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/adminTemplate}">
  <head>
    <title th:text="#{app.title(${session.user})}">Profile</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row h-100">
        <div class="col-12 col-lg-2">
          <div th:insert="admin/profile/fragments :: #submenu"></div>
        </div>
        <div class="col-12 col-lg-10">
          <!--Card-->
          <div class="card mb-4">
            <div class="card-body">

              <div class="row justify-content-between align-items-center">
                <div class="col">
                  <div class="row align-items-center">
                    <div class="col-auto">

                      <!-- Avatar -->
                      <div class="position-relative">
                        <div class="avatar size-140">
                          <img class="img-fluid rounded-pill" style="object-fit: cover; width: 100%; height: 100%;" src="#" th:src="@{~/images/users/} + ${session.avatar}" alt="..."/>
                        </div>
                        <!--Upload Button -->
                        <div class="position-absolute end-0 bottom-0 w-auto h-auto p-1 rounded-circle bg-white">
                          <button data-bs-toggle="tooltip" data-bs-placement="bottom" title="" class="btn p-0 size-40 rounded-circle d-flex align-items-center justify-content-center btn-primary" data-bs-original-title="Update Avatar">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera fe-2x">
                              <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
                              <circle cx="12" cy="13" r="4"></circle>
                            </svg>
                          </button>
                        </div>
                      </div>

                    </div>
                    <div class="col">
                      <h5 class="mb-1" th:text="${session.user}">John Doe</h5>
                      <small class="text-muted d-block" th:text="#{user.roles. + ${session.roles.toArray()[0].rolename}}">Email</small>
                      <small class="text-muted d-block" th:text="${session.email}">Email</small>
                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>

              <hr class="my-4"/>

              <div class="row">
                <div class="col-12 col-md- mb-3">
                  <h6>User ID</h6>
                  <span th:text="${session.userId}"></span>
                </div>
              </div>

              <form>
                <div class="row">
                  <div class="col-12 col-md-6 mb-3">
                    <!-- First name -->
                    <div class="form-group">
                      <!-- Label -->
                      <label class="form-label" for="firstName">First name</label>
                      <!-- Input -->
                      <input type="text" th:value="${session.user.firstName}" class="form-control" id="firstName"/>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <!-- First name -->
                    <div class="form-group">
                      <!-- Label -->
                      <label class="form-label" for="lastName">Last name</label>
                      <!-- Input -->
                      <input type="text" th:value="${session.user.lastName}" class="form-control" id="lastName"/>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <!-- First name -->
                    <div class="form-group">
                      <!-- Label -->
                      <label class="form-label" for="email">Email</label>
                      <!-- Input -->
                      <input type="email" th:value="${session.email}" class="form-control" id="email"/>
                    </div>
                  </div>
                </div>

                <div class="text-end">
                  <button type="button" class="btn btn-primary">
                    <span th:texh="#{btn.save}">Save</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-9">

                  <!-- Delete heading -->
                  <h4>Delete your account</h4>

                  <!-- Delete text -->
                  <p class="small text-muted mb-md-0">
                    <strong>Note:</strong>
                    deleting your account is a permanent action and will no longer
                    recoverable.
                  </p>
                </div>
                <div class="col-auto">
                  <!--Delete Button -->
                  <button class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>