<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{templates/contentTemplate}">
  <head>
    <title>Settings</title>
  </head>
  <body>
    <div layout:fragment="contentDiv">
      <div class="row">
        <div class="col-lg-3 order-lg-1 order-2">
          <div th:replace="account/submenu :: #submenu"></div>
        </div>
        <div class="col-lg-9 order-lg-2 order-1">
          <div class="supmodule">
            <h3>Personal information</h3>
            <hr/>
            <div class="module">
              <form th:action="@{/settings/profile}" th:object="${user}" method="post">
                <div class="form-group row">
                  <label for="firstNameInput" class="col-12 col-sm-4 col-md-3 col-xl-2 col-form-label">First name</label>
                  <div class="col-12 col-sm-8 col-md-5 col-xl-4">
                    <input type="text" class="form-control" id="firstNameInput" th:value="${user.firstName}"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastNameInput" class="col-12 col-sm-4 col-md-3 col-xl-2 col-form-label">Last name</label>
                  <div class="col-12 col-sm-8 col-md-5 col-xl-4">
                    <input type="text" class="form-control" id="lastNameInput" th:value="${user.lastName}"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="emailInput" class="col-12 col-sm-4 col-md-3 col-xl-2 col-form-label">Email</label>
                  <div class="col-12 col-sm-8 col-md-5 col-xl-4">
                    <input type="email" class="form-control" id="emailInput" th:value="${user.email}"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="phoneInput" class="col-12 col-sm-4 col-md-3 col-xl-2 col-form-label">Phone</label>
                  <div class="col-12 col-sm-8 col-md-5 col-xl-4">
                    <input type="tel" class="form-control" id="phoneInput" th:value="${user.phone}"/>
                  </div>
                </div>
                <!--                <div class="form-group row">
                                  <label for="birthDateInput" class="col-12 col-sm-4 col-md-3 col-xl-2 col-form-label">Birth date</label>
                                  <div class="col-12 col-sm-8 col-md-5 col-xl-4">
                                    <input type="date" data-date-format="DD MMMM YYYY" class="form-control" id="birthDateInput"/>
                                  </div>
                                </div>-->
                <button type="submit" class="btn btn-primary">
                  <i class="far fa-save"></i>
                  <span>Save</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>